<p id="notice"><%= notice %></p>
<h1><%= @band.name %></h1>
<p>
  <% @band.albums.each do |album| %>
    <%= link_to "#{album.name}", album_url(album)%>
  <% end %>
</p>
<%= link_to 'Delete', band_url(@band), method: "delete" %>
<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
