<p id="notice"><%= notice %></p>

<h1>Listing Tracks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <%= link_to "#{track.name}", track_url(track) %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %>
<%= link_to 'Albums', albums_url %>
<%= link_to 'Bands', bands_url %>
<%= link_to "User", user_url(current_user) %>
