<h1>New Track</h1>

<form action= <%= tracks_url %> method="post">
  <%= auth_token %>
  <label for="track_album_id">Select Album</label>
  <select  name="track[album_id]", id="track_album_id">
    <% Album.all.each do |album| %>
    <option value="<%= album.id %>"> <%= album.name %></option>
    <% end %>
  </select><br>
  <label for="track_name">Track Name</label>
  <input type="text" name="track[name]" id="track_name"><br>
  <input type="radio" name="track[track_type]", value="Bonus">Bonus<br>
  <input type="radio" name="track[track_type]", value="Regular">Regular<br>
  <textarea name="track[lyrics]" rows="8" cols="80" id="lyrics">Lyrics</textarea><br>
  <input type="submit" value="Create track">
</form>

<%= link_to 'Back', tracks_path %>
